@import '../fonts/studio.css';
@import '../fonts/averta_std.css';
@import 'normalize';

$main_green: rgb(0,78,55);
$saumon: rgb(236,100,74);

body{
	font-family: sans-serif;
	font-size: 2rem;
	cursor: crosshair;
}

.branding{
	margin-top: 3rem;
	text-align: center;
	#logo{
		width: 50rem;
		text-align: center;
	}
	margin-bottom: -3rem;
}

.container{
	font-family: 'averta_stdbold';
	font-weight: bold;
	font-size: 1rem;
	margin: 0 auto;
	text-align: center;
	h4{
		line-height: .01rem;
	}
	a{
		color: $main_green;
		text-decoration: none;
		transition: 100ms all ease-in-out;
		&:hover{
			color: $saumon;
			border-bottom: 3px solid $main_green;
		}
	}
}

button:focus{
	outline:0;
}