@import '../fonts/studio.css';
@import '../fonts/averta_std.css';
@import 'normalize';

$main_green: rgb(0,78,55);
$saumon: rgb(236,100,74);

body{
	width: 100%;
	height: 100%;
	font-family: 'avertastd-bold';
	font-size: 2rem;
	cursor: crosshair;
	background-color: #FFF;
}

.branding{
	margin-top: 3rem;
	text-align: center;
	#logo{
		width: 25rem;
		text-align: center;
	}
	margin-bottom: -3rem;
}

.container{
	width: 100%;
	// height: 40%;
	font-weight: 400;
	font-size: 2rem;
	margin: 0 auto;
	text-align: center;
	padding-top: 3rem;
	h4{
		line-height: .01rem;
	}
	a{
		color: #000;
		text-decoration: none;
		transition: 170ms all ease-in-out;
		font-style: italic;
		&:hover{
			color: rgba(255,255,255,1);
			font-style: normal;
			font-size: 9.4vw;
			text-shadow: 1px 1px 0 #000,
		    -1px 1px 0 #000,
		    1px -1px 0 #000,
		    -1px -1px 0 #000,
		    0px 1px 0 #000,
		    0px -1px 0 #000,
		    -1px 0px 0 #000,
		    1px 0px 0 #000,
		    2px 2px 0 #000,
		    -2px 2px 0 #000,
		    2px -2px 0 #000,
		    -2px -2px 0 #000,
		    0px 2px 0 #000,
		    0px -2px 0 #000,
		    -2px 0px 0 #000,
		    2px 0px 0 #000,
		    1px 2px 0 #000,
		    -1px 2px 0 #000,
		    1px -2px 0 #000,
		    -1px -2px 0 #000,
		    2px 1px 0 #000,
		    -2px 1px 0 #000,
		    2px -1px 0 #000,
		    -2px -1px 0 #000;
		}
	}
}

button:focus{
	outline:0;
}